# all hidden files... except .gitignore itself
/**/.*  # ignore all dotted files
/**/.*/ # ignore all dotted folders
!/.gitignore  # except `gitignore` :)
!/.gitignore_base  # except `gitignore_base`
__pycache__/
__pycache__/**
.ipynb_checkpoints/
.directory
*/.directory
*.swp
coords/
coords/**
coords_test_debye/
coords_test_debye/**
coord_cif_xyz/
coord_cif_xyz/**
csv_files/
csv_files/**
database_1_5nm/
database_1_5nm/**
Febeta_Nicolas/
Febeta_Nicolas/**
Wires_BiMan/
Wires_BiMan/**
rdfs/
rdfs/**
toto/**
Thumbs.db
*/Thumbs.db
*.orig*
Docs/articles-books/Wulff/.ipynb_checkpoints/christian j. w. - the theory and transformations in metals and alloys, vol. 2 (2nd edition)(2002)(1200s)-checkpoint.pdf
Docs/articles-books/Wulff/christian j. w. - the theory and transformations in metals and alloys, vol. 2 (2nd edition)(2002)(1200s).pdf
Docs/articles-books/shi-et-al-2020-noble-metal-nanocrystals-with-controlled-shapes-for-catalytic-and-electrocatalytic-applications.pdf
.git/objects/pack/pack-2ce167584a45dfe5d1791179ea918d521fac3bf4.pack
